<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>

</head>

<body>

    <div class="container">
        <div id="app">
            <button type="button" @click="getCars" class="btn btn-success">Load api</button>

            <div class="row">
                <div class="col">
                    <label for="cars">Choose a car:</label>
                    <select name="cars" id="make" v-model="makeValue" @change="filterCars">
                        <option value="">Make</option>
                        <option value="Toyota">Toyota</option>
                        <option value="Volkswagen">Volkswagen</option>
                        <option value="Nissan">Nissan</option>
                        <option value="Ford">Ford</option>
                    </select>

                </div>
                <div class="col">
                    <label for="cars">Choose a color:</label>
                    <select name="cars" id="color">
                        <option value="">Color</option>
                        <option value="Red">Red</option>
                        <option value="Blue">Blue</option>
                        <option value="White">White</option>
                        <option value="Orange">Orange</option>
                    </select>
                </div>

                <div class="col">
                    <label for="cars">Reg_Number:</label>
                    <select name="cars" id="RegNum">
                        <option value="">RegNum</option>
                        <option value="CF 73917">CF 73917</option>
                        <option value="CJ">CJ</option>
                        <option value="CY">CY</option>
                        <option value="CL">CL</option>
                    </select>
                </div>

                <div class="col">
                    <label for="cars">Choose Price:</label>
                    <select name="cars" id="price">
                        <option value="">Price</option>
                        <option value="66564">66564</option>
                        <option value="R70 000 - R89 000">R70 000 - R89 000</option>
                        <option value="R90 000 - R159 000">R90 000 - R159 000</option>
                        <option value="R160 000 - R200 000">R160 000 - R200 000</option>
                    </select>
                </div>
            </div>

            <hr>

            <div v-if="isLoading" class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-grow ms-auto" role="status" aria-hidden="true"></div>
            </div>


            <table v-if="isVisible" class="table table-success table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Make</th>
                        <th scope="col">Model</th>
                        <th scope="col">Color</th>
                        <th scope="col">Price</th>
                        <th scope="col">Registration number</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="car in carsList">
                        <th scope="row">1</th>
                        <td>{{car.make}}</td>
                        <td>{{car.model}}</td>
                        <td>{{car.color}}</td>
                        <td>{{car.price}}</td>
                        <td>{{car.reg_number}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3"></script>

    <script>
        Vue.createApp({
            data() {
                return {
                    message: 'Hello Vue!',
                    isVisible: false,
                    isLoading: false,
                    carsList: [],
                    counter: 1,
                    makeValue: ''
                }
            },

            methods: {
                getCars() {
                    this.isLoading = true;
                    fetch('http://api-tutor.herokuapp.com/v1/cars').then(response => {
                        return response.json();
                    }).then(cars => {
                        this.isVisible = true;
                        this.isLoading = false
                        this.carsList = cars
                    })
                },

                filterCars() {
                    const makeValue = this.makeValue;
                    const colorValue = this.colorValue;
                    const regNumberValue = this.regNumberValue;
                    const priceValue = this.priceValue;
                    const list = this.carsList;

                    const filteredCars = list.filter(car => {
                        if (makeValue) {
                            return list.make === makeValue;
                        }
                    });

                    // return filteredCars;
                    console.log(filteredCars);
                    this.carsList = filteredCars;
                }
            },


        }).mount('#app')
    </script>
</body>

</html>